# Server
NODE_ENV=development
PORT=5000

# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/educonnect_gh?retryWrites=true&w=majority

# JWT
JWT_SECRET=replace_this_with_a_long_random_secret_string
JWT_EXPIRES_IN=30d

# CORS - comma separated list of allowed origins (your Netlify URL(s))
CLIENT_URL=http://localhost:5173,https://educonnect-gh.netlify.app
